.navigation {
    width: 20%;

    &__list {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
        width: 100%;

        li a {
            color: #0082c4;
            background: #fff;
            display: block;
            padding: 15px;
            padding-left: 30px;
            width: 75%;
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            border-radius: 30px;
            margin-bottom: 15px;
        }
    }
}
